{{ define "main" }}
<style>
    .title {
        text-align: center;
    }

    .buttons {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .buttons .button {
        margin: 0 10px;
    }
</style>
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <h3 class="title" id="title">Thank you for submitting a recipe!</h3>
                <div class="buttons">
                    <a href="/" class="button is-link">Go Back Home</a>
                    <a href="/submit" class="button is-link">Submit Another Recipe</a>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}