{{ define "main" }}
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column">
        <div style="margin-bottom: 1em;text-align: center;">
          {{ range .Site.Taxonomies.tags }}
          <a class="tag" href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
          {{ end }}
        </div>
      </div>
    </div>

    {{ $paginator := .Paginate (where .Site.RegularPages "Section" "recipes") }}

    <div class="columns is-centered">
      <div class="column">
        {{ range $index, $page := $paginator.Pages }}
          {{ if eq (mod $index 4) 0 }}{{ partial "box.html" $page }}{{ end }}
        {{ end }}
      </div>
      <div class="column">
        {{ range $index, $page := $paginator.Pages }}
          {{ if eq (mod $index 4) 1 }}{{ partial "box.html" $page }}{{ end }}
        {{ end }}
      </div>
      <div class="column">
        {{ range $index, $page := $paginator.Pages }}
          {{ if eq (mod $index 4) 2 }}{{ partial "box.html" $page }}{{ end }}
        {{ end }}
      </div>
      <div class="column">
        {{ range $index, $page := $paginator.Pages }}
          {{ if eq (mod $index 4) 3 }}{{ partial "box.html" $page }}{{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ partial "pagination.html" . }}
&nbsp;
{{ end }}