<a class="box" href="{{ .Permalink }}" aria-label="{{ .Title }}">
  <!-- <div class="is-flex"> -->
    {{ with .Params.featured_image }}
    <figure class="image is-64x64" style="display:block;margin-left:auto;margin-right:auto;">
      <img alt="/images/small{{ . }}" class="is-rounded" src="/images/small{{ . }}" />
    </figure>
    {{ end }}
    <div>
      {{ with .Title }}
      <div style="margin-top: 0.5em;text-align: center;">{{ . }}</div>
      {{ end }}
      {{ with .Summary }}
      <small class="has-text-grey" style="margin-top: 0.5em;text-align: center;display: block;">{{ . }}</small>
      {{ end }}
    </div>
  <!-- </div> -->
  <div style="margin-top: 1.0em;text-align: center;">
    {{ with .Params.Time }}
    <span class="tag is-primary is-light">{{ . }}</span>
    {{ end }}
    {{ with .Params.Output}}
    <span class="tag is-info is-light">{{ . }}</span>
    {{ end }}
    {{ range .Params.Tags }}
    <span class="tag">{{ . }}</span>
    {{ end }}
  </div>
</a>