<nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      {{ with $.Site.Params.logo }}
      <div class="logo-steam-wrapper">
        <figure class="image is-32x32">
          <img alt="{{ $.Site.Title }} logo" class="is-rounded" src="{{ . }}" />
        </figure>
        <div class="steam-container">
          <span class="steam steam-1"></span>
          <span class="steam steam-2"></span>
          <span class="steam steam-3"></span>
        </div>
      </div>
      {{ end }}
      {{ $.Site.Title }}
    </a>
  </div>
  <form id="search" action='{{ with .GetPage "/search" }}{{.Permalink}}{{end}}' method="get">
    <div class="field has-addons">
      <div class="control">
        <input id="search-input" name="query" class="input" type="text" placeholder="Search Recipes..." />
      </div>
      <div class="control">
        <button type="submit" value="search" class="button is-info">
          Search
        </button>
      </div>
    </div>
  </form>
</nav>
