{{ define "main" }}
.
<style>
    .title {
        text-align: center;
    }
</style>
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <h3 class="title" id="title">Search for a recipe...</h3>
            </div>
        </div>
        <div id="results">
            <!-- Search results go here -->
        </div>
    </div>
</section>

<!-- include our search form -->
{{ partial "search-form.html" . }}

{{ end }}