name: Deploy GitHub Pages

on:
  push:
    paths-ignore:
      - 'LICENSE'
      - 'README.md'
      - 'recipe_template.md'
      - 'convert_images.sh'
      - 'convert_recipe_format.sh'
      - '.github/**'
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v6
        with:
          ref: main

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: 'latest'
          extended: true

      - name: Build
        run: |
          hugo --buildDrafts --gc --minify
          npx @divriots/jampack ./public

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
